name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
        type: string
permissions: # keep this at the root level, despite any warnings about placement!
  contents: write  # required to create releases
jobs:
  release:
    name: Create new release
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/actions/setup-env
    - name: Build
      run: ./gradlew build
    - name: Create GIT Tag
      uses: negz/create-tag@v1
      with:
        version: ${{ inputs.version }}
        message: tag version ${{ inputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ inputs.version }}
        name: Release ${{ inputs.version }}
        draft: false
        prerelease: false
